@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

.title-font{
    font-family: 'GFS Didot', serif;
}

.navbar-brand{
    font-size: 2rem;
}

.nav-link{
    font-size: 1.05rem;
}

.navbar{
    padding: 0.2%;
}

.text-shadow-1
{
text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25);
}

.card-cover
{
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}

.carousel-item{
    padding: 3%;
}
